:root{
    --background-color: #333;
    --blue: #0087ca;
    --dark-blue: #0040ca;
    --red: #ff2828;
    --gray: #646464;
    --dark-gray: #2d2d2d;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--background-color);
    color: white;
    padding: 10px 0;
    text-align: center;
}

/*nav hover*/
nav.sites {
    margin-top: 10px;
}

nav.sites a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: dimgrey;
}

.hover-underline-animation-blue {
    display: inline-block;
    position: relative;
    color: var(--blue);
}

.hover-underline-animation-blue::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--blue);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation-blue:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hover-underline-animation-red {
    display: inline-block;
    position: relative;
    color: var(--red);
}

.hover-underline-animation-red::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--red);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation-red:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

main {
    flex: 1;
    padding: 20px;
    background-image: url("imgs/matrix.webp");
}

main * {
    background-color: rgba(200, 200, 200, 60%);
}

footer {
    background-color: var(--background-color);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

.footer-img {
    position: absolute;
    height: 80%;
    bottom: 10px;
    right: 10px;
}

footer p {
    margin: 5px 0;
}

h3 {
    color: var(--background-color);
}

a.name {
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    color: white;
}

/*table*/
.lebenslauf-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.lebenslauf-table th, .lebenslauf-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.lebenslauf-table th {
    background-color: #f2f2f2;
}

.lebenslauf-table th[colspan="2"] {
    text-align: center;
}

.lebenslauf-table th[rowspan], .lebenslauf-table td[rowspan] {
    vertical-align: top;
}

/* form */

.form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.Zeugnisse, .Filme {
    margin-bottom: 20px;
}

.Title {
    font-weight: bold;
}

input[type="checkbox"], input[type="radio"] {
    margin-right: 10px;
}

input[type="submit"] {
    background-color: var(--blue);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: var(--dark-blue);
}

input[type="reset"] {
    background-color: var(--gray);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: var(--dark-gray);
}

/*feedback*/
.feedback-form > * {
    margin: 5px;
}